main {
    width:100%;
}

aside {
    display: none;
}

.nyomtatashoz{
    display: block;
}

h1.nyomtatashoz{
    padding-top: 10px;
}


main img {
    width:150px;
    height:150px;
    border-radius: 10px;
    border:4px solid rgb(80, 80, 80);
    display: block;
    float: left;
    margin-right: 50px;
}

